$roboto: 'Roboto', sans-serif;
$white: white;
$black: black;
$orange: #FF6336;
$lightGray: #CCCCCC;
$peach: #FF9C7D;
$beige: #FFF8E4;
$blue: #C9E8F2;
$brown: #DABC98;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px 3vw;
  font-family: $roboto;
  border-bottom: 1px solid $lightGray;

  &__logo-container {
    gap: 3vw;
  }
}

.logo-container {
  display: flex;
}

.nav {
  display: flex;
  align-items: center;
  gap: 3.5vw;
  font-family: $roboto;
  font-weight: 400;
  font-size: 15px;
}

.btns {
  display: flex;
  gap: 0.7vw;

  &__btn {
    font-family: $roboto;
    font-size: 16px;
    font-weight: 700;
    background: $white;
    border-width: 1px;
    padding: 15px 35px;

    &--padding-more {
      padding: 15px 52px;
    }

    &--orange {
      background: $orange;
      color: $white;
      border: none;
    }
  }
}

.main {
  display: flex;
  align-items: center;
  padding: 120px 5vw 180px;

  &__image {
    width: 54vw;
  }
}

.header-content {
  display: flex;
  flex-direction: column;
  max-width: 36vw;
  font-family: $roboto;

  &__heading {
    font-weight: 700;
    font-size: 4.5vw;
  }

  &__par {
    font-weight: 400;
    font-size: 1.7vw;
    line-height: 2.5vw;
    padding: 50px 0 30px;
    max-width: 32vw;
  }

  &__par2 {
    font-weight: 400;
    font-size: 1vw;
  }

  &__btns {
    padding: 25px 0;
  }
}

.companies {
  font-family: $roboto;
  display: flex;
  flex-direction: column;
  padding: 150px 0;
  background: $peach;

  &__heading {
    font-weight: 700;
    font-size: 50px;
    text-align: center;
    align-self: center;
    width: 52vw;
  }

  &__company-logos {
    padding-top: 80px;
  }
}

.company-logos {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.tools {
  font-family: $roboto;
  padding: 100px 5vw 150px;
  display: flex;
  flex-direction: column;
  gap: 200px;
}

.tool-container {
  font-family: $roboto;
  display: flex;
  justify-content: space-around;
  align-items: center;

  &__image {
    min-width: 518px;
    width: 40vw;
  }
}

@media(max-width: 1060px) {
  .tool-container {
    flex-direction: column;
    gap: 70px;
  }
}

@media(min-width: 1060px) {
  .tool-container {
    flex-direction: row;

    &--row-reverse {
      flex-direction: row-reverse;
    }
  }
}

.tool-content {
  min-width: 518px;
  max-width: 30vw;

  &__heading {
    font-weight: 700;
    font-size: 50px;
  }

  &__par {
    font-size: 20px;
    line-height: 30px;
    padding: 30px 0;
  }

  &__link {
    font-size: 20px;
    font-weight: 700;
  }
}

.cases {
  font-family: $roboto;
  padding: 130px 0;
  background: $beige;

  &__heading {
    font-weight: 700;
    font-size: 50px;
    text-align: center;
    padding-bottom: 80px;
  }
}

.cases-box {
  display: grid;
  grid-template-columns: repeat(3, 15vw);
  grid-row-gap: 80px;
  justify-content: space-around;
  justify-items: center;

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
  }
}

.teams {
  font-family: $roboto;
  padding: 130px 0;

  &__heading {
    font-weight: 700;
    font-size: 50px;
    text-align: center;
    padding-bottom: 80px;
  }
}

.teams-box {
  display: grid;
  grid-template-columns: repeat(3, 23vw);
  grid-row-gap: 60px;
  justify-content: space-evenly;
  justify-items: center;
  align-items: center;
}

.teams-item {
  font-family: $roboto;

  &__header {
    font-weight: 700;
    font-size: 30px;
  }

  &__par {
    padding: 35px 0 25px;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
  }
}

.review{
  padding: 120px 0;
  background: $blue;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-family: $roboto;

  &__review-content{
    max-width: 60vw;
  }
}

.review-content{
  font-family: $roboto;

  &__par{
    font-size: 30px;
    line-height: 40px;
  }

  &__post{
    padding: 25px 0 7px;
    font-weight: 400;
    font-size: 15px;
  }
}

.rating{
  display: flex;
  justify-content: space-between;
  font-family: $roboto;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  padding: 5.2vw 7vw;
  background: $brown;
}

.rating-box{
  display: flex;
  align-items: center;

  &--border_right {
    border-right: 1px solid $black;
  }

  &__heading{
    padding: 0 7vw 0 3vw;
    font-weight: 700;
    font-size: 35px;
  }

  &__item{
    padding-right: 4vw;
  }
}

.integration {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: $roboto;
  text-align: center;
  padding: 160px 0;


  &__heading {
    font-weight: 700;
    font-size: 65px;
    max-width: 40vw;
  }

  &__par {
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    max-width: 30vw;
    padding: 20px 0;
  }

  &__image {
    padding: 20px 0;
    width: 71vw;
  }

  &__button {
    background: $orange;
    border: none;
    padding: 20px 2vw;
    font-weight: 700;
    font-size: 16px;
    color: $white;
  }
}

.try {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  font-family: $roboto;
  text-align: center;
  background: $peach;
  padding: 120px 0 160px;

  &__heading {
    font-weight: 700;
    font-size: 65px;
    max-width: 40vw;
  }

  &__par {
    font-weight: 400;
    font-size: 20px;
    padding-bottom: 25px;
  }

  &__button {
    background: $black;
    border: none;
    padding: 15px 2vw;
    font-weight: 700;
    font-size: 17px;
    color: $white;
  }
}

.categories{
  display: flex;
  padding: 95px 7vw;
  justify-content: space-around;
  font-family: $roboto;
}

.cat-content{
  display: flex;
  flex-direction: column;
  max-width: 20vw;

  &__heading{
    font-weight: 700;
    font-size: 40px;
  }

  &__picture {
    padding: 30px 0;
  }

  &__logo{
    max-width: 35%;
  }

  &__par{
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    padding: 15px 0;
  }

  &__more{
    font-weight: 700;
    font-size: 20px;
  }
}

.cat-box{
  display: grid;
  grid-template: 50px 280px /10vw 10vw 10vw 10vw;
  grid-column-gap: 3vw;
  justify-self: center;
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;

  &__heading{
    font-size: 20px;
    font-weight: 700;
  }
}
.rights{
  display: flex;
  padding: 50px 0;
  margin: 0 6.5vw;
  justify-content: space-between;
  border-top: 1px solid $black;
  font-family: $roboto;
  font-size: 12px;
}

.r-box{
  display: flex;
  align-items: center;
  gap: 1.5vw;
  max-width: 20vw;
}