.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px 3vw;
  font-family: "Roboto", sans-serif;
  border-bottom: 1px solid #CCCCCC;
}
.header__logo-container {
  gap: 3vw;
}

.logo-container {
  display: flex;
}

.nav {
  display: flex;
  align-items: center;
  gap: 3.5vw;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 15px;
}

.btns {
  display: flex;
  gap: 0.7vw;
}
.btns__btn {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 700;
  background: white;
  border-width: 1px;
  padding: 15px 35px;
}
.btns__btn--padding-more {
  padding: 15px 52px;
}
.btns__btn--orange {
  background: #FF6336;
  color: white;
  border: none;
}

.main {
  display: flex;
  align-items: center;
  padding: 120px 5vw 180px;
}
.main__image {
  width: 54vw;
}

.header-content {
  display: flex;
  flex-direction: column;
  max-width: 36vw;
  font-family: "Roboto", sans-serif;
}
.header-content__heading {
  font-weight: 700;
  font-size: 4.5vw;
}
.header-content__par {
  font-weight: 400;
  font-size: 1.7vw;
  line-height: 2.5vw;
  padding: 50px 0 30px;
  max-width: 32vw;
}
.header-content__par2 {
  font-weight: 400;
  font-size: 1vw;
}
.header-content__btns {
  padding: 25px 0;
}

.companies {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  padding: 150px 0;
  background: #FF9C7D;
}
.companies__heading {
  font-weight: 700;
  font-size: 50px;
  text-align: center;
  align-self: center;
  width: 52vw;
}
.companies__company-logos {
  padding-top: 80px;
}

.company-logos {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.tools {
  font-family: "Roboto", sans-serif;
  padding: 100px 5vw 150px;
  display: flex;
  flex-direction: column;
  gap: 200px;
}

.tool-container {
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.tool-container__image {
  min-width: 518px;
  width: 40vw;
}

@media (max-width: 1060px) {
  .tool-container {
    flex-direction: column;
    gap: 70px;
  }
}
@media (min-width: 1060px) {
  .tool-container {
    flex-direction: row;
  }
  .tool-container--row-reverse {
    flex-direction: row-reverse;
  }
}
.tool-content {
  min-width: 518px;
  max-width: 30vw;
}
.tool-content__heading {
  font-weight: 700;
  font-size: 50px;
}
.tool-content__par {
  font-size: 20px;
  line-height: 30px;
  padding: 30px 0;
}
.tool-content__link {
  font-size: 20px;
  font-weight: 700;
}

.cases {
  font-family: "Roboto", sans-serif;
  padding: 130px 0;
  background: #FFF8E4;
}
.cases__heading {
  font-weight: 700;
  font-size: 50px;
  text-align: center;
  padding-bottom: 80px;
}

.cases-box {
  display: grid;
  grid-template-columns: repeat(3, 15vw);
  grid-row-gap: 80px;
  justify-content: space-around;
  justify-items: center;
}
.cases-box__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
}

.teams {
  font-family: "Roboto", sans-serif;
  padding: 130px 0;
}
.teams__heading {
  font-weight: 700;
  font-size: 50px;
  text-align: center;
  padding-bottom: 80px;
}

.teams-box {
  display: grid;
  grid-template-columns: repeat(3, 23vw);
  grid-row-gap: 60px;
  justify-content: space-evenly;
  justify-items: center;
  align-items: center;
}

.teams-item {
  font-family: "Roboto", sans-serif;
}
.teams-item__header {
  font-weight: 700;
  font-size: 30px;
}
.teams-item__par {
  padding: 35px 0 25px;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
}

.review {
  padding: 120px 0;
  background: #C9E8F2;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-family: "Roboto", sans-serif;
}
.review__review-content {
  max-width: 60vw;
}

.review-content {
  font-family: "Roboto", sans-serif;
}
.review-content__par {
  font-size: 30px;
  line-height: 40px;
}
.review-content__post {
  padding: 25px 0 7px;
  font-weight: 400;
  font-size: 15px;
}

.rating {
  display: flex;
  justify-content: space-between;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  padding: 5.2vw 7vw;
  background: #DABC98;
}

.rating-box {
  display: flex;
  align-items: center;
}
.rating-box--border_right {
  border-right: 1px solid black;
}
.rating-box__heading {
  padding: 0 7vw 0 3vw;
  font-weight: 700;
  font-size: 35px;
}
.rating-box__item {
  padding-right: 4vw;
}

.integration {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Roboto", sans-serif;
  text-align: center;
  padding: 160px 0;
}
.integration__heading {
  font-weight: 700;
  font-size: 65px;
  max-width: 40vw;
}
.integration__par {
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
  max-width: 30vw;
  padding: 20px 0;
}
.integration__image {
  padding: 20px 0;
  width: 71vw;
}
.integration__button {
  background: #FF6336;
  border: none;
  padding: 20px 2vw;
  font-weight: 700;
  font-size: 16px;
  color: white;
}

.try {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  font-family: "Roboto", sans-serif;
  text-align: center;
  background: #FF9C7D;
  padding: 120px 0 160px;
}
.try__heading {
  font-weight: 700;
  font-size: 65px;
  max-width: 40vw;
}
.try__par {
  font-weight: 400;
  font-size: 20px;
  padding-bottom: 25px;
}
.try__button {
  background: black;
  border: none;
  padding: 15px 2vw;
  font-weight: 700;
  font-size: 17px;
  color: white;
}

.categories {
  display: flex;
  padding: 95px 7vw;
  justify-content: space-around;
  font-family: "Roboto", sans-serif;
}

.cat-content {
  display: flex;
  flex-direction: column;
  max-width: 20vw;
}
.cat-content__heading {
  font-weight: 700;
  font-size: 40px;
}
.cat-content__picture {
  padding: 30px 0;
}
.cat-content__logo {
  max-width: 35%;
}
.cat-content__par {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  padding: 15px 0;
}
.cat-content__more {
  font-weight: 700;
  font-size: 20px;
}

.cat-box {
  display: grid;
  grid-template: 50px 280px/10vw 10vw 10vw 10vw;
  grid-column-gap: 3vw;
  justify-self: center;
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
}
.cat-box__heading {
  font-size: 20px;
  font-weight: 700;
}

.rights {
  display: flex;
  padding: 50px 0;
  margin: 0 6.5vw;
  justify-content: space-between;
  border-top: 1px solid black;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
}

.r-box {
  display: flex;
  align-items: center;
  gap: 1.5vw;
  max-width: 20vw;
}

/*# sourceMappingURL=style.css.map */
